@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
  --color-primary: #5f6FFF;
  /* --color-gridTemplateColumns-auto: "repeat(auto-fill,minmax(200px,1fr))"; */
  /* --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr)); */
}

*{
  font-family: Outfit;
}

a.active hr {
  @apply block;
}

::-webkit-scrollbar{
  @apply hidden;
}

@media (max-width:767px){
  .active p{
    @apply text-white bg-[#6ac5bd];
  }
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
/* colors: {
               'primary':"#5f6FFF"
           },
           gridTemplateColumns:{
            'auto':'repeat(auto-fill,minmax(200px,1fr))'
           } */
